.header {
  display: flex;
}
.header__logo {
  max-height: 70px;
  max-width: 19.84%;
  margin: 34px auto 90px;
}
@media screen and (max-width: 1024px) {
  .header__logo {
    max-height: 66px;
    max-width: 33.07%;
    margin: 30px auto 90px;
  }
}
@media screen and (max-width: 544px) {
  .header__logo {
    max-height: 52px;
    max-width: 58.75%;
    margin: 20px auto 50px;
  }
}
