.lead {
  color: white;
  max-width: 76.875%; /*984px*/
  margin: auto;
}
.lead__title {
  font-weight: 900;
  font-size: 6rem;
  line-height: 6.25rem;
  margin: auto;
  max-width: 73.17%; /*720px*/
  text-align: center;
}
.lead__subtitle {
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
  max-width: 73.17%; /*720px*/
  text-align: center;
  margin: 32px auto 64px;
}
.lead__image {
  max-width: 100%;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 768px; /*768px*/
  }
  .lead__title {
    font-weight: 900;
    font-size: 4.6875rem;
    line-height: 4.9375rem;
    max-width: 93.75%;
  }
  .lead__subtitle {
    margin: 25px auto 30px;
    max-width: 93.75%;
  }
  .lead__image {
  }
}

@media screen and (max-width: 544px) {
  .lead {
    max-width: 320px;
    margin: auto;
  }
  .lead__title {
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 2.75rem;
    max-width: 71.25%; /* 228px */
  }
  .lead__subtitle {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    max-width: 90%; /* 288px */
    margin: 16px auto 40px;
  }
  .lead__image {
  }
}
