* {
  scroll-behavior: smooth;
}
.page {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  font-family: "Inter Web";
  /*font-family: 'Noto Serif', 'Times New Roman', serif;*/
}
body {
  background-color: #2a2c2f;
}
@media screen and (max-width: 544px) {
}
@media screen and (max-width: 1024px) {
}
